<div class="w-75 m-auto my-5">
    <!-- Step Progress Bar -->
    <div class="d-flex justify-content-center align-items-center my-4 step-progress">
        <div class="step" [class.active]="steps >= 1">
            <i class="fa-solid fa-lock"></i>
            <span>Forgot Password</span>
        </div>
        <div class="step" [class.active]="steps >= 2">
            <i class="fa-solid fa-inbox"></i>
            <span>Verify Reset Code</span>
        </div>
        <div class="step" [class.active]="steps >= 3">
            <i class="fa-solid fa-key"></i>
            <span>Reset Password</span>
        </div>
    </div>
</div>

@if (steps==1) {
<!-- =====> #1 <forgotPassword> FormGroup <===== -->
<div class="w-75 m-auto my-5">
    <h2 class="my-2">Forgot Password?</h2>
    <form [formGroup]="forgotPassword" (ngSubmit)="firstSubmission()">
        <input formControlName="email" type="email" class="form-control my-3" placeholder="Please enter your email">
        <app-alert-error [formName]="forgotPassword" controlName="email" />

        <div class="d-flex justify-content-between">
            <button class="btn bg-main text-white" [disabled]="forgotPassword.invalid">Send</button>
        </div>
    </form>
</div>
}@else if (steps==2) {
<!-- =====> #2 <verifyResetCode> FormGroup <===== -->
<div class="w-75 m-auto my-5">
    <h2 class="my-2">Verify Reset Code</h2>
    <form [formGroup]="verifyResetCode" (ngSubmit)="secondSubmission()">
        <input formControlName="resetCode" type="text" class="form-control my-3"
            placeholder="Please enter your reset code">
        <app-alert-error [formName]="verifyResetCode" controlName="resetCode" />

        <div class="d-flex justify-content-between">
            <button class="btn bg-main text-white" [disabled]="verifyResetCode.invalid">Verify</button>
        </div>
    </form>
</div>
}@else {
<!-- =====> #3 <resetPassword> FormGroup <===== -->
<div class="w-75 m-auto my-5">
    <h2 class="my-2">Reset Password</h2>
    <form [formGroup]="resetPassword" (ngSubmit)="thirdSubmission()">
        <input formControlName="email" type="email" class="form-control my-3" placeholder="Please enter your email">
        <app-alert-error [formName]="resetPassword" controlName="email" />
        <input formControlName="newPassword" type="password" class="form-control my-3"
            placeholder="Please enter your new password">
        <app-alert-error [formName]="resetPassword" controlName="newPassword" />

        <div class="d-flex justify-content-between">
            <button class="btn bg-main text-white" [disabled]="resetPassword.invalid">Reset</button>
        </div>
    </form>
</div>
}