<div class="container-fluid my-5">
    <div class="row g-4">
        <div class="col-md-4">
            <div class="card shadow-sm border-0 rounded-4 p-4 bg-white">
                <h5 class="text-secondary fw-bold">Products</h5>
                <h2 class="text-main fw-bold">35 <i class="fa-solid fa-arrow-up" style="color: #14ac11;"></i></h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm border-0 rounded-4 p-4 bg-white">
                <h5 class="text-secondary fw-bold">Categories</h5>
                <h2 class="text-main fw-bold">8 <i class="fa-solid fa-arrow-up" style="color: #14ac11;"></i></h2>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm border-0 rounded-4 p-4 bg-white">
                <h5 class="text-secondary fw-bold">Brands</h5>
                <h2 class="text-main fw-bold">35 <i class="fa-solid fa-arrow-up" style="color: #14ac11;"></i></h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm border-0 rounded-4 p-4 bg-white">
                <h5 class="text-secondary fw-bold">Users</h5>
                <h2 class="text-main fw-bold">103,982 <i class="fa-solid fa-arrow-up" style="color: #14ac11;"></i></h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm border-0 rounded-4 p-4 bg-white">
                <h5 class="text-secondary fw-bold">Orders</h5>
                <h2 class="text-main fw-bold">49,173 <i class="fa-solid fa-arrow-up" style="color: #14ac11;"></i></h2>
            </div>
        </div>
    </div>
</div>