<div class="container bg-main-light my-5 p-4 rounded-4">
    <h2>Products</h2>
    <h4 class="text-main">Total: <span class="text-black">40</span></h4>
</div>

<div class="container bg-main-light my-5 p-4 rounded-4">
    <h2>Categories</h2>
    <h4 class="text-main">Total: <span class="text-black">10</span></h4>
</div>

<div class="container bg-main-light my-5 p-4 rounded-4">
    <h2>Brands</h2>
    <h4 class="text-main">Total: <span class="text-black">40</span></h4>
</div>

<div class="container bg-main-light my-5 p-4 rounded-4">
    <h2>Users</h2>
    <h4 class="text-main">Total: <span class="text-black">103982</span></h4>
</div>

<div class="container bg-main-light my-5 p-4 rounded-4">
    <h2>Orders</h2>
    <h4 class="text-main">Total: <span class="text-black">49173</span></h4>
</div>