<div class="container bg-main-light my-5 p-4 rounded-4">
    <h2>All Orders</h2>

    @for (order of orders; track $index) {
        <div class="row mb-1 border-bottom">
            <div class="col-md-3 -flex justify-content-between align-items-center">
                <div class="p-2">
                    <p class="text-main fw-bold">{{order.user.name}}</p> 
                    <p class="font-sm"><span class="text-main">Order ID :</span> {{order._id}}</p>                   
                </div>
            </div>

            <div class="col-md-4 d-flex justify-content-between align-items-center">
                <div class="p-2">
                    <p><span class="text-main">Email :</span> {{order.user.email}}</p> 
                    <p><span class="text-main">Phone :</span> {{order.user.phone}}</p> 
                    <p><span class="text-main">Address :</span> {{order.shippingAddress?.city || ""}}</p> 
                </div>
            </div>

            <div class="col-md-4 d-flex justify-content-between align-items-center">
                <div class="p-2">
                    <p><span class="text-main">Date :</span>{{order.createdAt|date}}</p> 
                    <p><span class="text-main">Price :</span> {{order.totalOrderPrice|currency:'EGP'}}</p> 
                </div>

                <div class="col-md-3 d-flex justify-content-between align-items-center">
                    <p class=" text-main"><span class="text-main">Payment Method :</span> {{order.paymentMethodType}}</p> 
                </div>
            </div>
    
        </div>
    }
</div>