<!-- Bootstrap's Navbar >> Authentication Navbar -->

<nav class="navbar navbar-expand-lg bg-body-white" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img src="assets/images/promart-logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-language"></i> <!-- Fontawesome's Language Icon-->
                        {{'navbar.language'|translate}}
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a [class.bg-main]="_TranslateService.currentLang=='en'" [class.text-white]="_TranslateService.currentLang=='en'" 
                            (click)="selectLang('en')" class="dropdown-item" href="#">English</a>
                        </li>
                        <li>
                            <a [class.bg-main]="_TranslateService.currentLang=='ar'" [class.text-white]="_TranslateService.currentLang=='ar'" 
                            (click)="selectLang('ar')" class="dropdown-item" href="#">العربية</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/signin" routerLinkActive="navbar-active">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/signup" routerLinkActive="navbar-active">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>