<!-- Bootstrap's Navbar >> Main Navbar -->

<nav class="navbar navbar-expand-lg bg-body-white" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img src="assets/images/promart-logo.png">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

                <ul class="navbar-nav mb-2 mb-lg-0 gap-3">
                    @if (!isAdminDashboard) {
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/home" routerLinkActive="navbar-active">{{"navbar.home"|translate}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/categories" routerLinkActive="navbar-active">{{"navbar.categories"|translate}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/brands" routerLinkActive="navbar-active">{{"navbar.brands"|translate}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/products" routerLinkActive="navbar-active">{{"navbar.products"|translate}}</a>
                        </li>
                    }
                    @if (isAdminDashboard) {
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin-dashboard" routerLinkActive="navbar-active">{{"navbar.admin-dashboard"|translate}}</a>
                        </li>
                    }
                </ul>

            <ul class="navbar-nav mb-2 mb-lg-0 gap-3">
                <!-- Language Nav Item -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-language"></i> <!-- Fontawesome's Language Icon -->
                        {{'navbar.language'|translate}}
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a [class.bg-main]="_TranslateService.currentLang=='en'" [class.text-white]="_TranslateService.currentLang=='en'" 
                            (click)="selectLang('en')" class="dropdown-item" href="#">English</a>
                        </li>
                        <li>
                            <a [class.bg-main]="_TranslateService.currentLang=='ar'" [class.text-white]="_TranslateService.currentLang=='ar'" 
                            (click)="selectLang('ar')" class="dropdown-item" href="#">العربية</a>
                        </li>
                    </ul>
                </li>
                
                <!-- Wishlist Nav Item -->
                @if (!isAdminDashboard) {
                    <li class="nav-item">
                        <a class="nav-link position-relative" routerLink="/wishlist" routerLinkActive="navbar-active">{{"navbar.wishlist"|translate}}
                            <i class="fa-regular fa-heart"></i> <!-- Fontawesome's Wishlist Icon -->
                            <!-- Bootstrap's Badge -->
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {{whishListCounter}}
                            </span>
                        </a>
                    </li>
                }

                <!-- Cart Nav Item -->
                @if (!isAdminDashboard) {
                    <li class="nav-item">
                        <a class="nav-link position-relative" routerLink="/cart" routerLinkActive="navbar-active">{{"navbar.cart"|translate}}
                            <i class="fa-solid fa-cart-shopping"></i> <!-- Fontawesome's Cart Shopping Icon -->
                            <!-- Bootstrap's Badge -->
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                {{cartCounter}}
                            </span>
                        </a>
                    </li>
                }

                <!-- Orders Nav Item -->
                @if (!isAdminDashboard) {
                    <li class="nav-item">
                        <a class="nav-link position-relative" routerLink="/orders" routerLinkActive="navbar-active">{{"navbar.orders"|translate}}
                            <i class="fa-solid fa-clock-rotate-left"></i> <!-- Fontawesome's Clock Rotate Left Icon -->
                        </a>
                    </li>
                }

                <!-- Users Nav Item -->
                @if (isAdminDashboard) {
                    <li class="nav-item">
                        <a class="nav-link position-relative" routerLink="admin-dashboard/all-users" routerLinkActive="navbar-active">{{"navbar.all-users"|translate}}
                            <i class="fa-solid fa-users"></i> <!-- Fontawesome's Users Icon -->
                        </a>
                    </li>
                }

                <!-- Orders Nav Item -->
                @if (isAdminDashboard) {
                    <li class="nav-item">
                        <a class="nav-link position-relative" routerLink="admin-dashboard/all-orders" routerLinkActive="navbar-active">{{"navbar.all-orders"|translate}}
                            <i class="fa-solid fa-clock-rotate-left"></i> <!-- Fontawesome's Clock Rotate Left Icon -->
                        </a>
                    </li>
                }
                
                <!-- Logout Nav Item -->
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="logout()" routerLinkActive="navbar-active">{{"navbar.logout"|translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>