<!-- npm >> <ngx-owl-carousel-o> Package >> <customOptions> -->
<owl-carousel-o [options]="customOptions">
    <!-- Custom component selector that references <an owl-carousel-o> component from the <ngx-owl-carousel> library, which is used to create a carousel or slider element on the webpage -->
    <!-- <[options]="customOptions">: Passes an object named <customOptions> to the <owl-carousel-o component>. This object likely contains configuration settings for the carousel, such as the number of visible slides, autoplay interval, navigation controls, and more -->

    <!-- The content within each slide template will be displayed on the corresponding slides when the carousel is rendered -->
    <ng-template carouselSlide>
        <img src="assets/images/slider1.png" alt="">
    </ng-template>
    <!-- Defines a template that will be used for each slide in the carousel -->
    <ng-template carouselSlide>
        <img src="assets/images/slider2.png" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img src="assets/images/slider3.png" alt="">
    </ng-template>
</owl-carousel-o>