<div class="w-75 m-auto my-5">
    <h2>{{'signin.header'|translate}}</h2>
    <form [formGroup]="login" (ngSubmit)="sendData()">

        <input formControlName="email" type="email" class="form-control my-3" placeholder="Please enter your email">

        <app-alert-error [formName]="login" controlName="email" />

        <input formControlName="password" type="password" class="form-control my-3"
            placeholder="Please enter your password">

        <app-alert-error [formName]="login" controlName="password" />

        <div class="text-danger my-3">{{errorMessage}}</div>

        <div class="d-flex justify-content-between">
            <button class="btn bg-main text-white" [disabled]="login.invalid">{{'signin.login-btn'|translate}}</button>
            <a routerLink="/forgotPassword" class="link-primary">{{'signin.forgot-password'|translate}}</a>
        </div>
    </form>
</div>