@if(!isLoading) {
    @if(wishlist.count !== 0) {
        <div class="container bg-main-light my-5 p-4 rounded-4">
            <div class="col-md-12 d-flex justify-content-between">
                <div>
                    <h2>Shop Wishlist</h2>
                    <span>Items: {{wishlist.count}}</span>
                </div>
            </div>
        
            @for(product of wishlist.data; track $index) {
                <div class="row border-bottom my-2 py-2">
                    <div class="col-md-1">
                        <img [src]="product.imageCover" class="w-100" alt="">
                    </div>
                    <div class="col-md-11 d-flex justify-content-between">
                        <div>
                            <h4>{{product.title}}</h4>
                            <p class="text-main">Price: {{product.price}} EGP</p>
                            <button (click)="removeItem(product._id)" class="btn"><i class="fa-solid fa-trash-can text-main"></i> Remove </button> <!-- Fontawesome's Trash Icon -->
                        </div>

                        <div>
                            <button (click)="addProductToCart(product._id)" class="btn bg-main text-white"><i class="fa-solid fa-cart-plus"></i></button>
                        </div>
                    </div>
                </div>
            }

        </div>
    } @else {
        <!-- Wishlist is empty -->
        <div class="container bg-main-light my-5 p-4 rounded-4">
            <h2>Shop Wishlist</h2>
            <span>Items: 0</span>
        </div>
    }
} @else {
    <!-- Wishlist is loading -->
    <div class="container bg-main-light my-5 p-4 rounded-4">
        <h2>Shop Wishlist</h2>
        <span>Items: <i class="fa-duotone fa-solid fa-spinner fa-spin"></i></span>
    </div>
}