<router-outlet></router-outlet>
<!-- Directive that defines a placeholder in the template where the router will dynamically insert the component that corresponds to the currently active route -->

<app-footer></app-footer>
<!-- <app-footer> component selector that is used to include the footer within the current component's template -->

<ngx-spinner name="main-spinner" type="ball-fussion"></ngx-spinner>
<ngx-spinner name="sub-spinner" type="ball-beat"></ngx-spinner>
<!-- <ngx-spinner> library selectors which is used to display a loading spinner -->