<div class="my-5">
    <h4 class="fw-bold m-2">{{"category-slider.header"|translate}}</h4>

    <!-- npm >> <ngx-owl-carousel-o> Package >> <customOptions> -->
    <owl-carousel-o [options]="customOptions">
        @for(slide of categories; track $index) {
        <ng-container>
            <ng-template carouselSlide [id]="slide._id">
                <div class="p-2">
                    <div class="category-slider">
                        <img [src]="slide.image" [alt]="slide.name" [title]="slide.name" height="200px">
                    </div>
                    
                    <h6 class="fw-bold text-center mt-2">{{slide.name}}</h6>
                </div>
            </ng-template>
        </ng-container>
        }
    </owl-carousel-o>
</div>