<div class="w-75 m-auto my-5">
    <h2>{{'signup.header'|translate}}</h2>
    <form [formGroup]="register" (ngSubmit)="sendData()">
        <input [ngClass]="{
            'is-valid': !register.get('name')?.errors&&(register.get('name')?.touched||register.get('name')?.dirty),
            'is-invalid': register.get('name')?.errors&&(register.get('name')?.touched||register.get('name')?.dirty)
        }" formControlName="name" type="text" class="form-control my-3 is-valid" placeholder="Please enter your name">
        <app-alert-error [formName]="register" controlName="name" />

        <input [ngClass]="{
            'is-valid': !register.get('email')?.errors&&(register.get('email')?.touched||register.get('email')?.dirty),
            'is-invalid': register.get('email')?.errors&&(register.get('email')?.touched||register.get('email')?.dirty),
        }" formControlName="email" type="email" class="form-control my-3 is-valid" placeholder="Please enter your email">
        <app-alert-error [formName]="register" controlName="email" />

        <input formControlName="password" type="password" class="form-control my-3"
            placeholder="Please enter your password">
        <app-alert-error [formName]="register" controlName="password" />

        <input formControlName="rePassword" type="password" class="form-control my-3"
            placeholder="Please re-enter your password">
        <app-alert-error [formName]="register" controlName="rePassword" />

        <div class = "text-danger my-3">{{errorMessage}}</div>

        <button class="btn bg-main text-white" [disabled]="register.invalid">{{'signup.register-btn'|translate}}</button>
    </form>
</div>